/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.chair-title {
    font-weight: bold;
}

.warning .session-info, .warning .session-time {
    text-align: center;
    vertical-align: middle;
}

.session-time {
    font-weight: bold;
    white-space: nowrap;
    color: #666666;
}

.session-info h3{
    margin-top: 0;
    font-size: 22px;
    color: #ba7201;
}

.session-info div {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    margin: 40px 0;
}
 footer .row div {
     margin-top: 10px;
 }

.navbar {
    border-bottom: 2px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 6px 40px 0 0;
}

.navbar-toggle {
    background-color: #e6e6e6;
}
#home-bar {
    background: url("/content/images/background.png") repeat-x;
    color: #fff0f5;
}
    #home-bar .container {
         background: url("/Content/images/hangouts.png") no-repeat top right;
     }

#title {
    font-weight: bold;
    font-size: 24px;
    margin: 70px 0;
}

#title > div {
    font-size: 16px;
    font-weight: normal;
    margin: 12px 0 60px 0;
}

#message {
    margin: 70px 0;
    font-size: 16px;
}

#call-for-speakers {
    text-align: right;
}

@media (max-width: 992px) {
       #message, #call-for-speakers { display: none; }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    .navbar-nav li:nth-last-child(2) {
        margin-left: 80px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}