@{
    ViewBag.Title = "Home Page";
}


<h1>Conference Chairs</h1>

<div id="chairs" class="container">
    <h2>Jeffrey Palermo</h2>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img src="/Content/images/headshot-palermo.png" /><br/>
            <div class="chair-title">Microsoft MVP</div>
        </div>
        <div class="col-sm-8 col-md-9">
            <p>
                Jeffrey Palermo is a Managing Partner and CEO of Clear Measure, an expert software engineering firm based in Austin, TX with employees across North
                America. Jeffrey has been recognized as a Microsoft MVP for 10 consecutive years and has spoken at national conferences such as Tech Ed,
                VS Live, and DevTeach. He’s the purveyor of the popular Party with Palermo events and is the author of several books, articles, and
                hundreds of pithy Twitter quips. A graduate of Texas A&amp;M University, an Eagle Scout, and an Iraq war veteran, Jeffrey likes to spend time 
                with his family of five out at the motocross track. 
            </p>
        </div>
    </div>
    
    <br/>
    <hr/>
    <br/>

    <h2>Javier Lozano</h2>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img src="/Content/images/headshot-lozano.jpg" /><br />
            <div class="chair-title">Microsoft MVP &amp;  Co-Chair of MVCconf</div>
        </div>
        <div class="col-sm-8 col-md-9">
            <p>
                Javier Lozano is an ASP.NET Insider, Azure Insider, and ASP.NET MVP. His specializations are in ASP.NET, Azure, system design, and
                developer mentoring. He helped co-found the Iowa .NET Users Group and the Iowa Code Camp. He’s heavily involved with the dotnetConf
                and aspConf virtual conferences. He’s an avid supporter of the community and likes to give back by speaking at user groups, as
                well as local, regional, and national .NET events. In his spare time, Javier loves spending time with his family and enjoys 
                writing about himself in the third person.
            </p>
        </div>
    </div>
</div>
