@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="row">
        <div class="col-md-7">
            <h1>DevOpsConf 2016</h1>
            <p class="lead">
                Calling all speakers! If you are a leader in the DevOps community or if you have a presentation you have a DevOps topic you would
                like to speak on then get in touch. Time is short and spots are limited so reach out now.
            </p>
        </div>

        <div id="call-for-speakers" class="col-md-5"><img class="img-responsive" src="/Content/images/call-for-speakers.png" /></div>
    </div>

    <div class="row">
        <br/>
        @Html.ActionLink("Speakers Register Now", "Create", new {controller="Abstract"}, new { @class = "btn btn-primary btn-lg"})
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Attend?</h2>
        <p>
            Discover the latest DevOps related solutions, technologies, and tools. Learn new skills and discover whats new through live technical presentations.
            Explore critics tools like TeamCity, Octopus Deploy, and managing cloud environments like Azure.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Sessions</h2>
        <p>Check back soon for a schedule of sessions and presentations.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Sponsors</h2>
        <p>Want to become a sponsor? Contact us and we can show you how.</p>
        <p>
            @Html.ActionLink("Apply Here »", "Index", new { controller = "Sponsors" }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>