@model DevOpsConf2016.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "DevOpsConf 2016";
    var isAuthenticated = User != null && User.Identity.IsAuthenticated;
}

@section scripts {
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        function setVideoPlayer(videoId) {
            var videoUrl = "http://www.youtube.com/embed/" + videoId + "?autoplay=1";
            $("#youtube").attr("src", videoUrl);
        }

        $(function () {
            $.connection.hub.start();

            var videoPlayer = $.connection.videoHub;
            videoPlayer.client.playVideo = function (videoId) {
                setVideoPlayer(videoId);
            };

            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000);
            });
        });
    </script>
}

@*@if (isAuthenticated)
{*@
    <br />
    <div id="player">
        <div class="embed-container">
            <iframe id="youtube" width="470" height="264" src="http://www.youtube.com/embed/@Model.VideoId" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <h3>Great news! We will be giving away two TeamCity Build Agent licenses. The winners will be notified via email after the conference.</h3>
    </div>
    
@*}
else
{
    <div id="anouncement">Live streaming begins on Thursday at 9 am CST. <a href="/Auth/Register">Register for free now &raquo;</a></div>
    <div class="spalsh">
        <img src="/Content/images/dev-ops-conf.jpg" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Why Attend?</h2>
            <p>
                Discover the latest DevOps related solutions, technologies, and tools. Learn new skills and discover whats new through live technical presentations.
                Explore critics tools like TeamCity, Octopus Deploy, and managing cloud environments like Azure.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Sessions</h2>
            <p>View the schedule of sessions and presentations.</p>
            <p>
                @Html.ActionLink("View Sessions »", "Sessions", new { controller = "Home" }, new { @class = "btn btn-default" })
            </p>
        </div>
        <div class="col-md-4">
            <h2>Sponsors</h2>
            <p>Want to become a sponsor? Contact us and we can show you how.</p>
            <p>
                @Html.ActionLink("Apply Here »", "Index", new { controller = "Sponsors" }, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
}*@
