@{
    ViewBag.Title = "Sessions";
}

<h1>Sessions</h1>

<table class="table">
    <tr>
        <td class="session-time">9:00 am CST</td>
        <td class="session-info">
            <h3>Continuous Delivery with Github, TeamCity, Octopus, and Azure</h3>
            <div>Jeffrey Palermo</div>
            <p>DevOps is a term representing the convergence of development and operations. Both the development and operations communities like to own the term, so it has accumulated multiple meanings. With the Agile Manifesto, developers have jettisoned annual software releases for processes that allow releasing software multiple times per day. To accomplish this, teams use rigorous suites of automated tests to ensure that every change to the software is a solid step forward rather than an accidental step backward. In this lecture, you will learn the principles of how to set up your own continuous delivery pipeline very similar to how Microsoft's NuGet team manages NuGet.org. We will use the same chain of tools, and the same techniques. </p>
        </td>
    </tr>

    <tr>
        <td class="session-time">10:00 am CST</td>
        <td class="session-info">
            <h3>Unlocking the value of your logs</h3>
            <div>Simon Timms</div>
            <p>It's done! Your product is out in the world and people are using it, they're loving it and absolutely positively 100% guaranteed nothing could possibly go wrong. The time has come to place your feet upon your desk and await the congratulations of the 18 levels of managers between you and the CEO. &lt;30 seconds later&gt; There is a bug! Fortunately, you have your logs to rely on. Unfortunately, they are 30 000 line long logs and scattered over 12 servers. Monster.com is looking more and more like the best solution but first how about we try some log management tools? In this session we'll talk about Log Stash, Elasticsearch and Kibana and see how you can create dashboards which offer insights into issues before they become noticeable.</p>
        </td>
    </tr>

    <tr>
        <td class="session-time">11:00 am CST</td>
        <td class="session-info">
            <h3>Automating Your Standard SQL Server Install</h3>
            <div>John Sterrett</div>
            <p>Microsoft and Amazon have automated processes that build SQL Server Installs. They are consistent, stable and not done manually. You should be doing the same regardless of the size of your shop.</p>
        </td>
    </tr>

    
    <tr class="warning">
        <td class="session-time">12:00 pm CST</td>
        <td class="session-info">
            <h2>LUNCH BREAK</h2>
        </td>
    </tr>

    <tr>
        <td class="session-time">1:00 pm CST</td>
        <td class="session-info">
            <h3>NginX and Consul-Template. Service Discovery?</h3>
            <div>Gus Emery</div>
            <p>There are a ton of tools that the DevOps professional needs to know about in the datacenter.  NginX and Consul-Template are two that work magically together! These will allow service discovery and single URL routing.  The best part is that they are also available within Docker for your developers to have this running locally; duplicating the infrastructure within the datacenter.</p>
        </td>
    </tr>

    <tr>
        <td class="session-time">2:00 pm CST</td>
        <td class="session-info">
            <h3>Running Your ASP.NET Core Apps on Linux Containers</h3>
            <div>Simon Timms</div>
            <p>With a buzzword title like that you know this session is going to be one you can sell to your boss. ASP.NET Core can run on Windows, Linux and Mac all without relying on Mono to do it. In this session we'll create a simple ASP.NET Core application and see how we can use Docker to deploy it to any number of Docker hosts from AWS to Azure to your cousin's Linux box that she keeps in the basement for severing up her mirror of kernel.org. We'll deploy the ASP.NET container in tandem with a database container running a Postgresql.</p>
        </td>
    </tr>   

    <tr>
        <td class="session-time">3:00 pm CST</td>
        <td class="session-info">
            <h3>DevOps in a MicroServices Environment</h3>
            <div>Michael Norman</div>
            <p>As the number of services grows in an environment, automation becomes crucial to being able to release software quickly. Especially as business demands require more frequent releases, nearing toward the ideal of continuous delivery, DevOps as a practice is critical to the quality, stability, and security of each release. I’ll talk about the philosophy of microservices, what it means for DevOps and the tools, technologies and techniques for working with them in a heterogeneous environment.</p>
        </td>
    </tr>

    <tr>
        <td class="session-time">4:00 pm CST</td>
        <td class="session-info">
            <h3>Patterns used in continuous delivery</h3>
            <div>Gabriel Schenker</div>
            <p>In this talk the author is going to identify and discuss some of the important patterns occurring in a fully automated continuous deployment (CD) pipeline. These patterns are used to e.g. locate services, to deploy artifacts or change DB schemas with zero downtime and to permit a/b-testing to name just a few.</p>
        </td>
    </tr>
</table>